/* Collages */
.home-collages { position: relative; width: 970px; height: 300px; overflow: hidden; }
.home-collage-unit { display: none; position: absolute; left: 0px; top: 0px; width: 970px; height: 300px; background: url() no-repeat center center; overflow: hidden; z-index: 90; }
.home-collage-number { position: absolute; right: 20px; bottom: 20px; z-index: 100; }
.home-collage-number a { float: left; display: block; margin: 0px 0px 0px 10px; padding: 3px 7px; color: #000; background-color: #fff; text-decoration: none; font-size: 9px; }
.home-collage-number a.act { color: #fff; background-color: #f47400; }
.home-collage-price { position: absolute; right: 0px; top: 50px; z-index: 100; }
.home-collage-price a { float: right; display: block; margin: 0px 0px 10px 0px; padding: 5px 10px; color: #000; background-color: #fff; text-decoration: none; }
.home-collage-price a:hover { text-decoration: underline; color: #fb7306; }

/* Collections */
.home-collections { position: relative; width: 100%; }

.home-collections .arr-left { position: absolute; left: -10px; top: 87px; width: 61px; height: 33px; background: url('../../img/carousel-prev.png') no-repeat left top; cursor: pointer; }
.home-collections .arr-left.active { background: url('../../img/carousel-prev-hover.png') no-repeat left top; }
.home-collections .arr-right { position: absolute; right: -10px; top: 87px; width: 61px; height: 33px; background: url('../../img/carousel-next.png') no-repeat right top; cursor: pointer; }
.home-collections .arr-right.active { background: url('../../img/carousel-next-hover.png') no-repeat right top; }

.home-collections .container { padding-top: 15px; width: 970px; background-color: #f7f7f7; }
.home-collections .container-inner { position: relative; overflow: hidden; margin: 0 auto; width: 924px; height: 230px; }
.home-collections .container-inner table { position: absolute; left: 0px; top: 0px; }

/* Collections unit */
.home-collections .unit { position: relative; width: 232px; padding: 1px 0; }
.home-collections .unit .image { margin: 0 auto; width: 225px; height: 175px; outline: 2px solid #fff; background: url() no-repeat center center; overflow: hidden; }
.home-collections .unit .image:hover { outline: 2px solid #75a000; }
.home-collections .unit .title { margin: 0px 10px; padding: 5px 0px 0px 0px; font-size: 14px; color: #353535; }
.home-collections .unit .anounce { margin: 0px 10px; padding: 0; }
.home-collections .unit .sale {
	position: absolute;
	left: 1px; top: 0;
	width: 90px; height: 55px;
	background: url('../../img/sale.png') no-repeat 0 0;
	color: white;
}
.home-collections .unit .hit {
	position: absolute;
	left: 1px; top: 0;
	width: 90px; height: 55px;
	background: url('../../img/hit.png') no-repeat 0 0;
	color: white;
}

/* HitProd */
.home-hiprod { position: relative; width: 100%; }
.home-hiprod .arr-left { position: absolute; left: -10px; top: 87px; width: 61px; height: 33px; background: url('../../img/carousel-prev.png') no-repeat left top; cursor: pointer; }
.home-hiprod .arr-left.active { background: url('../../img/carousel-prev-hover.png') no-repeat left top; }
.home-hiprod .arr-right { position: absolute; right: -10px; top: 87px; width: 61px; height: 33px; background: url('../../img/carousel-next.png') no-repeat right top; cursor: pointer; }
.home-hiprod .arr-right.active { background: url('../../img/carousel-next-hover.png') no-repeat right top; }
.home-hiprod .container { padding-top: 15px; width: 970px; background-color: #f7f7f7; }
.home-hiprod .container-inner { position: relative; overflow: hidden; margin: 0 auto; width: 924px; height: 230px; }
.home-hiprod .container-inner table { position: absolute; left: 0px; top: 0px; }

/* HitProd unit */
.home-hiprod .unit { position: relative; width: 232px; padding: 1px 0; }
.home-hiprod .unit .image { margin: 0 auto; width: 225px; height: 175px; outline: 2px solid #fff; background: url() no-repeat center center; overflow: hidden; }
.home-hiprod .unit .image:hover { outline: 2px solid #75a000; }
.home-hiprod .unit .title { margin: 0px 10px; padding: 5px 0px 0px 0px; font-size: 14px; color: #353535; }
.home-hiprod .unit .anounce { margin: 0px 10px; padding: 0; }
.home-hiprod .unit .sale {
	position: absolute;
	left: 1px; top: 0;
	width: 90px; height: 55px;
	background: url('../../img/sale.png') no-repeat 0 0;
	color: white;
}
.home-hiprod .unit .hit {
	position: absolute;
	left: 1px; top: 0;
	width: 90px; height: 55px;
	background: url('../../img/hit.png') no-repeat 0 0;
	color: white;
}

/* brand */
.home-brand { position: relative; width: 100%; }
.home-brand .arr-left { position: absolute; left: -10px; top: 60px; width: 61px; height: 33px; background: url('../../img/carousel-prev.png') no-repeat left top; cursor: pointer; }
.home-brand .arr-left.active { background: url('../../img/carousel-prev-hover.png') no-repeat left top; }
.home-brand .arr-right { position: absolute; right: -10px; top: 60px; width: 61px; height: 33px; background: url('../../img/carousel-next.png') no-repeat right top; cursor: pointer; }
.home-brand .arr-right.active { background: url('../../img/carousel-next-hover.png') no-repeat right top; }
.home-brand .container { padding-top: 15px; width: 970px; background-color: #f7f7f7; }
.home-brand .container-inner { position: relative; overflow: hidden; margin: 0 auto; width: 910px; height: 200px; }
.home-brand .container-inner table { position: absolute; left: 0px; top: 0px; }

/* brand unit */
.home-brand .unit { position: relative; width: 182px; padding: 1px 0; }
.home-brand .unit .image { margin: 0 auto; width: 175px; height: 130px; outline: 2px solid #fff; background: url() no-repeat center center; overflow: hidden; }
.home-brand .unit .image:hover { outline: 2px solid #75a000; }
.home-brand .unit .title { margin: 0px 10px; padding: 5px 0px 0px 0px; font-size: 14px; color: #353535; }
.home-brand .unit .anounce { margin: 0px 10px; padding: 0; }
.home-brand .unit .sale {
	position: absolute;
	left: 1px; top: 0;
	width: 90px; height: 55px;
	background: url('../../img/sale.png') no-repeat 0 0;
	color: white;
}
.home-brand .unit .hit {
	position: absolute;
	left: 1px; top: 0;
	width: 90px; height: 55px;
	background: url('../../img/hit.png') no-repeat 0 0;
	color: white;
}

/* Products list */
.cat-list {
	border-width: 1px 0px 0px 1px;
	border-style: solid;
	border-color: #eee;
}
.cat-list td {
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: #eee;
}
.cat-list .cat-list-unit {
	position: relative;
	width: 220px;
	min-height: 170px;
	padding: 2px 0;
	margin: 10px 8px 0;
}

.cat-list .cat-list-unit .new {
	left: -2px;
}

.cat-list .cat-list-unit .image {
	margin: 0 auto;
	width: 220px; height: 170px;
	background: url() no-repeat center center;
}
.cat-list .cat-list-unit .title {
	margin: 0px 10px; padding: 5px 0 0 0;
	font-size: 14px;
	color: #353535;
}
.cat-list-unit .anounce {
	margin: 0px 10px; padding: 5px 0 0 0;
}
.novinki .cat-list-unit .anounce {
    min-height: auto;
}
.cat-list-unit .price {
	margin: 0px 10px; padding: 5px 0 5px 0;
	font-size: 18px;
	color: #999;
}
.cat-list-unit .price span {
	font-size: 20px;
	color: #545353;
}
.cat-list-unit .add {
	padding-left: 10px;
	float: left;
}
.cat-list-unit .add a {
	display: block;
	padding: 5px 0px;
	width: 85px;
	text-align: center;
	text-decoration: none;
	background-color: #f47200;
	color: #fff;
}
.cat-list-unit .view {
	padding-right: 10px;
	float: right;
}
.cat-list-unit .view a {
	display: block;
	padding: 5px 0px;
	width: 85px;
	text-align: center;
	text-decoration: none;
	background-color: #f6f6f6;
	color: #848484;
}
.cat-list-unit .sale {
	position: absolute;
	left: 1px; top: 0;
	width: 90px; height: 55px;
	background: url('../../img/sale.png') no-repeat 0 0;
	color: white;
}

.novinki .cat-list {

}

.wrap-slider {position: relative;}
.wrap-slider .arr-left { position: absolute; left: -10px; top: 127px; width: 61px; height: 33px; background: url('../../img/carousel-prev.png') no-repeat left top; cursor: pointer; z-index: 100;}
.wrap-slider .arr-left.active { background: url('../../img/carousel-prev-hover.png') no-repeat left top; }
.wrap-slider .arr-right { position: absolute; right: -10px; top: 127px; width: 61px; height: 33px; background: url('../../img/carousel-next.png') no-repeat right top; cursor: pointer; z-index: 100;}
.wrap-slider .arr-right.active { background: url('../../img/carousel-next-hover.png') no-repeat right top; }