@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');

.advantage-container{font-size:0;background-color:#0075b0;}
.advantage-block{vertical-align:top;display:inline-block;font-size:14px;width:16.666%;text-align:center;margin:55px 0;}
.adv-container{text-align:center;}
.advantage-block-image{margin-bottom:10px;min-height:64px;}
.advantage-block-text {color: white;padding: 0 16px;}
.mailbox{margin-bottom: 40px;}
.back-engage {
    background-image: url(/assets/img/psr.png);
    background-repeat: no-repeat;
    color: #e0e0e0;
    font-size: 22px;
    font-weight: bold;
    height: 76vh;
    background-attachment: scroll;
    background-position: left center;
    -webkit-background-size: cover;
}
.back-engage h2{text-align:center;}
.cell-container{display: table-cell;vertical-align: middle;height: 76vh;}
.title-center{text-align:center;margin-bottom:30px;}
.task-item{padding-left:120px;}
.task-item>div {display: table-cell;padding-bottom:20px}
.task-item img{max-width:70px;margin-right:15px}
.task-container h3{text-align:center;margin-bottom:15px;font-weight:bold;}
.face-engage{
	 background-image: url(/assets/img/face2.jpg);
    background-repeat: no-repeat;
    color: #e0e0e0;
    font-size: 22px;
    font-weight: bold;
    height: 76vh;
    background-attachment: scroll;
    background-position: left center;
    -webkit-background-size: cover;
}
.advantage-new-block{
    display: table-cell;
    text-align: center;
    vertical-align: top;
    padding: 0 15px;
    font-family: 'Roboto',Arial,sans-serif;
}
.advantage-text-block p:first-child{font-size: 20px;color: black;font-weight: bold;}
.advantage-text-block p:last-child{font-size:16px;}
.main-cont{background-color:#F0F0F0;padding-bottom:50px;}
.adv-title{
	text-align: center;
    font-weight: bold;
    margin-bottom: 70px;
    font-size: 32px;
    font-family: 'Roboto',Arial,sans-serif;
}
.face-users-container{margin-bottom:15px;}
.face-users-container>div {
    display: table-cell;
    padding:20px;
    vertical-align:middle;
    width:50%;
}
.face-users-container>div p:first-child{
    font-size: 26px;
    color: #000000;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
}
.face-users-container>div p:last-child{font-size: 17px;}
.features-container{margin-bottom:35px;}
.features-container>div {
    display: table-cell;
    vertical-align: top;
    text-align:center;
    width:25%;
    padding:0 20px;
    font-size:17px;
}    
/* Модуль-контейнер */
.design-module-container{font-family: 'Roboto',Arial,sans-serif;background-color:#F5F5F5;}
.design-module-container h2{
	font-weight:600;
	font-size:36px;
	text-align:center;
	margin-top:50px;
}
.design-module-container p{
	font-size: 24px;
    line-height: 1.5;
    text-align:center;
}
.design-module-row{display:table;width:100%;}
.design-module-row>div {display: table-cell;width: 50%;}
.design-module-row {padding: 30px 0 50px 0;}
.design-module-row .design-left{vertical-align:middle;}
.design-module-row .design-right{text-align:center;}
.design-module-row .design-right img{width:90%;}
.design-module-row ol{margin-bottom:0;}
.design-module-row ol li {font-size: 28px;line-height: 2;font-weight: bold;}
.how-it-work-container{display:table;width:100%;}
.how-it-work-container>div{width:50%;display:table-cell;padding:20px;}
.how-it-work-title{font-size:42px;padding-top: 60px;padding-bottom: 45px;text-align:center;}
.main-tech-block-container{background-color:#F5F5F5;}
.main-tech-block-container table{width:60%;margin:0 auto;}
.main-tech-block-container table td, .main-tech-block-container table th{padding:20px;font-size:18px;}
.main-tech-block-container h2{text-align:center;padding-bottom: 45px;padding-top: 60px;}
.main-tech-block-container table tr:nth-child(odd){background-color: white;}
.main-tech-block-container table tr:nth-child(even){background-color: #EEEEEE;}
.main-tech-block-container table thead tr th{border-bottom:1px solid black;background-color:#F5F5F5;}
.face-block{display:table;width:70%;margin:0 auto;margin-bottom:45px}
.face-block>div{display:table-cell;width:50%;vertical-align:middle;}
.face-block>div:first-child{text-align:center;}
.face-block img{max-height:250px;}
.features-container>div img{height:60px;width:auto;margin-bottom:35px;}
.partners-container{display:table;width:100%;margin-bottom:50px;font-size:0;}
.partners-container>div{padding:10px;box-sizing:border-box;display:inline-block;width:20%;text-align:center;}
.partners-container img{height:100px;width:auto;}
.faq-container .question, .faq-container .answer{background:#CCCCCC;padding: 28px 40px 27px;border-radius: 40px;font-size:22px;margin-bottom:20px;}
.faq-container .answer{background:#D1A7A7;}
.faq-container .question p, .faq-container .answer p{display:table-cell;padding:0 15px;box-sizing:border-box;}
.faq-container .question p:first-child, .faq-container .answer p{font-weight:bold;}
.faq-container .question p:last-child{color:white;}
.faq-container .answer p {color: #2d2d2d;}
/* Блок проверки номеров */
.numbercheck-container {
    font-size: 0;
    padding-bottom: 50px;
    margin-bottom: 55px;
    border-bottom: 1px solid #e8e8e8;
}
.numbercheck-container>div{font-size:14px;display:inline-block;text-align:center;box-sizing:border-box;font-family: 'Roboto',Arial,sans-serif;vertical-align:top;}
.numbercheck-container div p:last-child{font-weight: 300;color: black;font-size: 18px;}
.numbercheck-left{width:50%;padding: 0 40px;}

.numbercheck-right{width:50%;padding:0 40px;}
.numbercheck-container>div img {width: 65%;}
.margin30{margin-top:30px;}
.numbercheck-container .numbercheck-double-left, .numbercheck-container .numbercheck-double-right{width:50%;display:table-cell;vertical-align:middle;font-family: 'Roboto',Arial,sans-serif;}
.numbercheck-container .numbercheck-double-left{text-align:left;}
.numbercheck-container h3 {font-size: 30px;font-weight: 600;margin: 0 0 28px;}
.numbercheck-double-left p{text-align:justify;}
p.bigbold {font-size: 24px;font-family: 'Roboto',Arial,sans-serif;font-weight: 600;}
/* FIN */
body{position:relative;}
.button_close{
    color: red;
    font-size: 1.5em;
    position: absolute;
    right: 5px;
    top: 0;
    border: 0 none;
}
.button_close:hover{
    background-color:transparent;
    border:0 none;
}
.warning_window{
    background-color: #ccc;
    text-align:center;
    width:100%;
    padding:5px 15px;
    position:fixed;
    bottom:0;
    z-index:2;
}
.warning_window h3{
    margin:0;
    font-size: 1em;
    color:#fff
}
 .tp-bannertimer{display:none !important;}
.tp-bullets{bottom: 8% !important;}
.tp-banner ul li{list-style:none;margin-left:0 !important;padding-left:0 !important;}
.tp-banner ul{padding-left:0;}         

            
/* ВЫТАСКИВАЕМ ИЗ ГЛАВНОЙ
.front-slide{width: 100%; background: #0094d1; margin-bottom:0px; position: relative; }
.front-slide img{display:block; margin:0 auto; }
a.iframe.fancybox-button {display: block;width:122px;height: 109px;position:absolute;margin-left:-60px;cursor:pointer;transition: opacity 0.2s linear 0.0s; opacity:0.9;outline: none;top: 40px;bottom: 0;right: 0;left: 0;margin: auto auto;}
a.iframe.fancybox-button img { width: 83px; display:block; height:auto; }
a.iframe.fancybox-button:hover, a.iframe.fancybox-button:focus {opacity:1; outline: none;}
.front-qlinks { background: #484848; height: 150px; margin-bottom:30px; }
.front-qlinks a { width:25%; height: 150px; float:left; margin:0; text-align:center; color: #fff; padding-top:40px; padding-left:10px; padding-right:10px; }
.front-qlinks a:hover,
.front-qlinks a:focus { background: #343434; outline:none; color: #fff; text-decoration:none; }
.mission-text { color:#333; font-size:38px; }
.mission-subtext { color:#999; font-size:18px; font-family: Verdana; }
.filter {padding-top: 50px;}
.filter.gray-filter { background: #e5e3e3; }
.filter.gray-filter p { color:#333; }
.filter .industry-head { font-size:24px; text-align:left; margin:40px 0; color:#333; font-weight:bold;}
.filter.gray-filter .service {
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    margin: 0;
    position: relative;
    text-align: left;
    transition: none;
    width: auto;
    font-size:15px;
    font-family:Verdana;
    color:#333;
    background: url(assets/img/frontpage/checkbox.png) no-repeat 0px -45px;
    padding-left:40px;
}
.filter.gray-filter .service.active { background-position: 0px 5px; }
.filter.gray-filter .service .s-title{ color:#333; line-height: 13px; position: relative; top: 15px; }
.filter.gray-filter .camera span { padding:0; margin-left:-8px; color:#333; background:none;}
.filter.gray-filter .delimeter span { color:#333; }
.filter.gray-filter .total-industry-header { color:#333; font-size:36px; line-height:28px; margin-top:30px; margin-bottom:20px; margin-left:-10px; margin-right:0; }
.filter.gray-filter .total-industry-header span { color:#f15922; font-size:18px; display:block; }
.ui-widget-content {
    background-color: #cac3c3;
    border-bottom: 1px solid rgba(233, 233, 233, 0.5);
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 #898888 inset, 0 1px 4px -2px #fff;
    color: #333333;
    height: 18px;
    line-height: 18px;
}
.ui-slider .ui-slider-range {background: #d1430f;}
.filter-block {
    color: #333333;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-left: 30px;
    font-family: Verdana;
}
.filter-block h3 a {
    font-size: 18px;
    margin: 0 0 8px;
    color: #333333;
    font-family: Verdana;
}
.filter-block h3 a:hover {
    color: #e84f31;
}
.filter-block p {
    font-size: 12px;
    margin: 0 0 7px;
    color: #333333;
    font-family: Verdana;
}
.filter-block a {
    color: #00aef0;
    text-decoration: none !important;
    margin-bottom: 8px;
    font-family: Verdana;
}
.filter-block .link-block {display: inline-block;margin-right: 12px;}
.filter-block .link-block:last-of-type {margin-right: none;}
.project-wrapper { overflow:hidden; width: 100%; height: 265px; margin-bottom:30px; position: relative;}
.project-scroll { width: 0px; height: 265px; position: absolute; /*transition: left 0.3s linear 0.0s; }
.project-item {float:left; position: relative; width:200px; margin:0 10px; height:265px; border:1px solid #b0b0b0; border-radius:16px; background:#fff; cursor:pointer; padding: 16px 20px; }
.project-item * { color: #333; }
.project-item .clone-content, .project-item .orig-content { float:left; }
.project-item .overflow {opacity:0; background: rgba(205, 238, 252, 0.7); transition: all 0.2s linear 0.0s; width: 198px; border-radius:14px; height:263px; position:absolute; top:0px; left:0px;   }
.project-item .zoomer { background: url(assets/img/frontpage/zoom_project.png) no-repeat center center; width: 50px; height: 50px; position: absolute; left: 50%; top:50%; margin-left:-25px; margin-top:-35px; transition: all 0.2s linear 0.0s; opacity:0;   }
.project-item:hover .overflow, .project-item:focus .overflow {opacity: 1.0;}
.project-item:hover .zoomer, .project-item:focus .zoomer {opacity: 1.0; margin-top:-20px;}
.project-item .media-object { width: 138px; height: auto; border: 3px solid #ccc; border-radius: 3px; padding:0; }
.project-item .project-title { font-size: 15px; line-height: 18px; font-family: "Geometria"; margin-top:10px; }
.project-item .project-title strong {  }
.project-item .ico-container { position: absolute; bottom: 10px; left:15px; }
.project-item .project-ico { display:table; height: 33px; }
.project-item .ico { display: table-cell; vertical-align:middle; width:20px; text-align: right; }
.project-item .ico img { width: auto !important; }
.project-item .desc { display: table-cell; vertical-align:middle; padding-left:10px; font-size:12px; line-height:14px; padding-right:10px; }
#proj-not-found {color:#333; text-align:center;}
.project-wrapper .next, .project-wrapper .prev {
background: #fcf2ed url("/assets/img/arrow.png") no-repeat scroll 10px 5px;
border: 1px solid #fff;
border-radius: 40px;
cursor: default;
height: 36px;
position: absolute;
width: 36px;
z-index: 2;
display:block;
top:110px;
box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
cursor: pointer;
display:none;
opacity: 0.9;
transition: all 0.2s linear 0.0s;
}
.project-wrapper .next:hover, .project-wrapper .prev:hover {opacity: 1;}
.project-wrapper .next { right:20px; }
.project-wrapper .prev { left:20px; background: #fcf2ed url("/assets/img/arrow.png") no-repeat scroll -18px 5px; }



@media (max-width: 1199px) {
.face-block {width: 100%;}
}
@media (max-width: 991px) {
.advantage-block{width:30%;}
.advantage-new-container{font-size:0;}
.advantage-new-block {display:inline-block;width:50%;margin-bottom:20px;}
.design-module-row>div {display: block;width: 100%;margin-bottom: 30px;}
.how-it-work-container>div {width: 100%;display: block;padding: 20px;}
.face-block div:last-child{padding:10px;}
.ms span {font-size: 10px;}
.ms h3 {font-size: 14px;margin-bottom: 40px;}
.ms:after{height: 465px;}
}
@media (max-width: 767px) {
.task-item{padding-left:0;}
.back-engage {font-size:18px;}
.features-container{font-size:0;}
.features-container>div{width:50%;display:inline-block;}
.face-block img {max-height: 180px;}
.numbercheck-left, .numbercheck-right{width:100%;}
.numbercheck-container .numbercheck-double-left, .numbercheck-container .numbercheck-double-right{width:100%;display:block;margin-bottom:35px;}
.ms{text-align: center;}
.ms span {font-size: 12px;}
.ms:after{display:none;}.specifications {padding-right: 0px;padding-left: 0px;margin-left: -9px;}
.ms hr{display: inherit;}
.ms h3 img {float: none;}
}
@media (max-width: 650px) {
.advantage-new-block {width:100%;}
.partners-container>div{width:50%;}
.faq-container .question p, .faq-container .answer p{display:block;}
}
@media (max-width: 580px) {
.advantage-block{width:50%;}
.back-engage {font-size:16px;}
.face-users-container img {display: none;}
.face-users-container>div{padding:0;width:inherit;}
}
@media (min-width: 240px) {
.front-qlinks a { width:50%; }
.front-qlinks { height: 300px; }
.mission-text { font-size: 20px; } 
.mission-subtext { font-size:12px; }
a.iframe.fancybox-button img { width: 40px; margin-top:25px; margin-left:40px;}
}
@media (min-width: 768px) {
.front-qlinks a { width:25%; }
.front-qlinks { height: 150px; }
.mission-text { font-size: 38px; } 
.mission-subtext { font-size:18px; }
a.iframe.fancybox-button img { width: 83px; margin-top:20px; margin-left:20px;}
}
@media (min-width: 240px) {
.filter .industry-head { font-size:17px; margin:20px 0;}
.filter.gray-filter .total-industry-header { font-size:20px; min-height:80px; margin-top:20px; margin-bottom:20px; }
.filter.gray-filter .total-industry-header span { font-size: 14px; line-height:15px; }
}
@media (min-width: 768px) {
.filter .industry-head { font-size:24px; margin:40px 0;}
.filter.gray-filter .total-industry-header { font-size:36px; min-height:60px; margin-top:30px; margin-bottom:20px; }
.filter.gray-filter .total-industry-header span { font-size: 18px; line-height:33px; }
}

*/