@import url('Geometria-Medium/Geometria-Medium.css');
@import url('Geometria-Regular/Geometria-Regular.css');
@import url('Geometria-Bold/Geometria-Bold.css');
@import url('Geometria-RegularItalic/Geometria-RegularItalic.css');
.modalv2{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.6);z-index:9999;}
.modalform{position:absolute;top:10%;left:50%;margin:0 0 0 -250px;box-sizing:border-box;width:500px;max-width:100%;padding:30px 50px 30px;background:url(../img/pattern_letter_horisontal.png)center bottom repeat-x,url(../img/pattern_letter_horisontal.png)center top repeat-x,url(../img/pattern_letter_vertical.png)left top repeat-y,url(../img/pattern_letter_vertical.png)right top repeat-y #ebe7e4;}
@media (max-width:499px){.modalform{left:0;right:0;margin:0;}}
.closev2{position:relative;right:-20px;}
html{background:url(../img/bg.png) 0 0 repeat #fff;}
*{outline:none;}
body{min-width:320px;}
body, h3, h4, h5, h6{font-family:Tahoma, verdana;}
.container{min-width:320px;position:relative;}
h1, h2{font-family:'Geometria', Arial;}
a, a:hover{color:#e84e30;}
a.mailto{text-decoration:underline;}
a.mailto:hover, a.mailto:focus{text-decoration:none;}
.phone p{font-size:21px;color:#000;}
.phone span{font-size:17px;}
.free_call{line-height:11px;color:#5c5c5c;font-size:11px!important;position:absolute;right:3px;bottom:4px;display:block;}
.time{color:#5c5c5c;}
.time.text-left{line-height:12px;color:#5c5c5c;font-size:11px;}
.time.text-left a{text-decoration:none;font-size:14px;color:#e84e30;border-bottom:1px dashed #e84e30;}
.time.text-left a:hover{text-decoration:none;}
.time.text-left a:active{text-decoration:none;color:#e84e30;}
.time.text-left a:hover{text-decoration:none;color:#e84e30;}
.container .navbar-header,
.container .navbar-collapse{margin-right:0;margin-left:0;}
.navbar-header{float:left;}
.navbar-collapse{height:auto !important;padding-bottom:0;overflow:visible !important;}
.navbar-toggle{margin-top:32px;}
.navbar-collapse{border-top:0;}
.navbar-brand{margin-left:-15px;}
.eng{}
.navbar-nav{float:left;margin:0;}
.navbar-nav > li{float:left;}
.navbar-collapse.in .navbar-nav > li, .navbar-collapse.collapsing .navbar-nav > li{width:50%;}
.navbar-collapse.in .navbar-nav > li a, .navbar-collapse.collapsing .navbar-nav > li a{padding:5px;margin:0;line-height:40px;}
.navbar-nav > li > a{padding:15px;}
.navbar-nav.navbar-right{float:right;}
.navbar .navbar-nav .open .dropdown-menu{position:absolute;float:left;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-width:0 1px 1px;border-radius:0 0 4px 4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#333;}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus{color:#fff !important;background-color:#428bca !important;}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus{color:#999 !important;background-color:transparent !important;}
button.cx-shc-button, button.cx-shc-button span{-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px;}
.cx-shc-button span{display:inline-block;border-top:2px solid rgba(255, 255, 255, 0.2);-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px;-webkit-transition:-webkit-transform 0.2s ease-in-out;-moz-transition:-moz-transform 0.2s ease-in-out;-o-transition:-o-transform 0.2s ease-in-out;transition:transform 0.2s ease-in-out;}
.cx-shc-button span{padding:10px 20px;color:#ffffff;background:#e84f31;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e84f31), color-stop(100%, #e84f31));background-image:-webkit-linear-gradient(#e84f31, #e84f31);background-image:-moz-linear-gradient(#e84f31, #e84f31);background-image:-o-linear-gradient(#e84f31, #e84f31);background-image:linear-gradient(#e84f31, #e84f31);}
.cx-shc-button{padding:0;border-width:0;background:none;margin-bottom:20px;display:inline-block;text-decoration:none;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;-webkit-transition:box-shadow 0.2s ease-in-out;-moz-transition:box-shadow 0.2s ease-in-out;-o-transition:box-shadow 0.2s ease-in-out;transition:box-shadow 0.2s ease-in-out;}
.cx-shc-button:hover{}
.cx-shc-button:hover span{-webkit-transform:translateY(2px);-moz-transform:translateY(2px);-ms-transform:translateY(2px);-o-transform:translateY(2px);transform:translateY(2px);}
.cx-shc-button.gray{color:rgb(255, 255, 255);-webkit-box-shadow:rgb(140, 140, 140) 0px 3px 0px;box-shadow:rgb(140, 140, 140) 0px 3px 0px;}
.cx-shc-button{color:rgb(255, 255, 255);-webkit-box-shadow:rgb(197, 61, 35) 0px 3px 0px;box-shadow:rgb(197, 61, 35) 0px 3px 0px;}
.cx-shc-button.gray{color:rgb(255, 255, 255);-webkit-box-shadow:rgb(140, 140, 140) 0px 3px 0px;box-shadow:rgb(140, 140, 140) 0px 3px 0px;}
.cx-shc-button.gray span{background:#afafaf;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #afafaf), color-stop(100%, #afafaf));background-image:-webkit-linear-gradient(#afafaf, #afafaf);background-image:-moz-linear-gradient(#afafaf, #afafaf);background-image:-o-linear-gradient(#afafaf, #afafaf);background-image:linear-gradient(#afafaf, #afafaf);}
label{font-weight:normal;}
.form-control{background-color:#f6f5f3;}
.form-horizontal .control-label{text-align:left;color:#424242;}
@media (max-width:768px){.form-horizontal .control-label{font-size:12px;}
}
.panel-default > .panel-heading{color:#616161;background-color:#e8e8e8;border-color:#e4e4e4;}
.panel{border:2px solid #d8d8d8;border-radius:7px;box-shadow:0px 2px 0px #b8b8b8;}
.panel .media-body a{text-decoration:underline;}
.panel .media-body a:hover{text-decoration:none;}
.media>.pull-left{width:30%;}
.panel .img-thumbnail{border:3px solid #ccc;padding:0;margin:4px;}
.panel-title a{color:#575757;}
#inside-header{position:relative;left:0;right:0;z-index:1010;}
.pre-header{line-height:35px;background:url(../img/bg.png) 0 0 repeat #fff;overflow:hidden;}
.pre-header .container div{display:inline-block;}
.pre-header .container .col-xs-6{display:block;padding-left:0;padding-right:0;}
.pre-header .container .search{}
.pre-header .container .search button{vertical-align:middle;}
.pre-header .container .search form{}
.pre-header .container .search .form-group{}
.pre-header .container .col-xs-6 .phone{margin:0;}
.pre-header .container .col-xs-6 .phone p{margin:0;}
.pre-header .container .col-xs-6 .login{margin:0 5px 0 0;}
.time{color:#5c5c5c;}
.search .form-control{font-size:14px;border-radius:40px;padding:0px 10px;height:28px;width:100px;vertical-align:1px;-webkit-transition:width 0.2s ease-in-out;-moz-transition:width 0.2s ease-in-out;-o-transition:width 0.2s ease-in-out 0.2s;transition:width 0.2s ease-in-out 0.2s;}
.search .form-control:focus{width:150px;}
.search button{border-radius:100%;font-size:12px;width:28px;height:28px;color:#fff;background-color:#ebebeb;border:none;padding:0;margin-left:5px;}
.register, .search, .time, .phone{margin-right:20px;}
.login a{padding:5px 5px 5px 0px;}
.login{margin-right:30px;}
.eng .active{color:#e84e30;}
.eng a{color:#ababab;}
.eng{margin-left:10px;}
.nav>li>a{padding:26px 0px 5px;margin-left:10px;}
.navbar-default{border:none;background-color:#fff;box-shadow:0 2px 2px 0px rgba(0,0,0,0.3);border-radius:0 !important;margin-bottom:0;z-index:200;}
.navbar{min-height:80px;}
.navbar-nav>li>a{line-height:50px;padding-top:26px;padding-bottom:5px;}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a{color:#000;font-size:15px;font-family:'PT Sans', tahoma;font-weight:500;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color:#e84e30;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{color:#e84e30;border-bottom:3px solid #e84e30;background-color:#fff;font-size:15px;font-family:'PT Sans', tahoma;font-weight:500;padding-bottom:2px;}
#buy{overflow:auto;overflow-y:auto;overflow-x:hidden;position:relative;}
.ainvers a{text-decoration:underline;}
.ainvers a:hover,.ainvers a:focus{text-decoration:none;}
.prefooter{background:#e5e3e3;padding:40px 0;position:relative;z-index:10;right:0;left:0;top:0;font-family:"PT Sans", tahoma;font-size:18px;}
.prefooter h4{font-size:20px;font-weight:bold;}
.prefooter a{text-decoration:none;border-bottom:1px solid;color:#e84e30;}
.prefooter a:hover, .prefooter a:focus{text-decoration:none;border-bottom:none;}
.prefooter .list-unstyled a{font-size:16px;}
.postfooter{background:#e84e30;color:#fff;position:relative;z-index:10;margin-top:-1px;padding-bottom:10px;}
.postfooter .container{position:relative;}
.postfooter span{padding-top:35px;position:absolute;left:15px;}
.postfooter a{background:url(../img/logo-gray.png) right center no-repeat;display:block;width:290px;position:relative;top:0;right:15px;padding-top:25px;margin-top:10px;color:#fff;}
.footer{z-index:10;color:#fff;font-size:12px;padding:25px 0 0;background:url(../img/pattern_red_footer.png) center center repeat;background:#e84e30;position:relative;left:0;right:0;bottom:10%;}
.footer h6{font-size:14px;margin-bottom:20px;font-weight:bold;}
@media (max-width:768px){.footer h6{font-size:14px;margin-bottom:20px;font-weight:bold;letter-spacing:-1px;}
}
.footer li{margin:10px 0;line-height:1.1em;}
.footer .col-xs-2{padding-right:0;}
.footer a, .footer a:hover, .footer a:focus{color:#fff;}
.social a{background:url(social.png) left top no-repeat;display:inline-block;height:29px;width:29px;margin:0 6px 0 0;}
.social a:hover{position:relative;top:1px;}
.social .fb{background-position:left top;}
.social .vk{background-position:center top;}
.social .yt{background-position:right top;}
.social .tw{background-position:left bottom;}
.social .te{background-position:center bottom;}
.social .li{background-position:right bottom;}
#camera{color:#3c3634;font-size:18px;text-align:center;}
.main_title{font-size:20px;font-weight:bold;color:#e84e30;margin:10px 0;font-family:Tahoma, verdana;}
.news .text-muted{font-size:14px;margin-bottom:0;}
.news .list-unstyled a{color:#606060;}
.news input[type="email"]{font-size:14px;background-color:#ebebeb;}
.news h4, .news .link{color:#e84e30;}
.news .media-data{color:#c3c2c2;}
.news form{width:97%;}
.bg-w{background:#fff;}
.bg-g{background:url(../img/pattern_gray.png) center center repeat #fff;}
.mission{height:14.25%;}
.mission a{color:#e84e30;border-bottom:2px solid;text-decoration:none;}
.mission a:hover, .mission a:focus{border-bottom:none;}
.mission h1{font-size:33px;margin:1% 0 0;}
.mission p{font-family:"Geometria";font-size:16px;margin:0.5% 0;}
#numb{font-size:150px;line-height:170px;}
#slider-range a:last-child{background-position-x:-17px;}
.ui-slider-handle:last-child{background-position-x:-17px !important;}
#slider-range, #slider-range a{cursor:pointer;}
.filter{background-color:#e84f31;position:relative;}
.filter p{font-family:"Geometria";margin:0;}
.filter .container > p{font-size:28px;line-height:170%;}
.filter svg{position:absolute;bottom:0;left:0;right:0;}
.filter *{color:#fff;}
.filter a:hover{color:#fff;}
.filter .col-xs-4 a{text-transform:uppercase;font-size:12.6px;text-decoration:underline;}
.filter .col-xs-4 a:hover, .filter .col-xs-4 a:focus{text-decoration:none;}
.filter .service{width:116px;height:116px;background-color:#fff;border-radius:100%;line-height:106px;text-align:center;margin:0 auto 0px;cursor:pointer;border:6px solid #dadada;-webkit-transition:all .5s ease;transition:all .5s ease;position:relative;}
.filter .service.active img{display:none;}
.filter .service.active{border:6px solid #fff;-webkit-transition:all .5s ease;transition:all .5s ease;}
.filter .service span{height:0;width:0;top:50%;left:50%;border-radius:100%;background:url(../img/check.png) center center no-repeat #e84e30;display:inline-block;position:absolute;}
.filter .service.active span{top:0;left:0;width:100%;height:100%;-webkit-transition:all .3s ease;transition:all .3s ease;}
#filter .panel-title{font-family:"Geometria";font-size:14px;}
#filter .panel-body{font-size:12px;font-family:"Geometria";padding-bottom:5px;}
#filter .panel-footer{padding:0 15px 5px;font-family:"PT Sans", tahoma;font-size:12.6px;}
#filter .panel{margin:2% 0%;}
#project .cx-shc-button{margin-right:15px;}
.mail .cx-shc-button{margin-bottom:0;}
.line-progress{height:16px;line-height:16px;border-radius:15px;background-color:#efd9cd;width:50%;margin-left:10%;top:1px;position:absolute;-webkit-transition:width 0.6s ease, margin-left 0.6s ease;-moz-transition:width 0.6s ease, margin-left 0.6s ease;-o-transition:width 0.6s ease, margin-left 0.6s ease;transition:width 0.6s ease, margin-left 0.6s ease;}
.camera, .delimeter, .line-bg{margin-left:auto;margin-right:auto;}
.camera span{position:absolute;background:url(../img/camera.png) right center no-repeat;padding-top:0px;padding-right:20px;font-size:18px;display:inline-block;margin-left:-13px;font-family:"Roboto"}
@media (max-width:768px){.camera span{background:url(../img/camera.png) center bottom no-repeat;padding-right:0;padding-bottom:20px;margin-left:-13px;}
}
.delimeter, .camera{position:relative;height:20px;}
.delimeter span{position:absolute;text-align:left;color:white;padding-top:0px;height:25px;line-height:30px;font-size:12px;display:inline-block;}
.filter-block{color:#333333;margin-bottom:30px;padding-top:5px;padding-left:30px;}
.filter-block h3{font-size:18px;margin:0 0 8px;}
.filter-block p{font-size:12px;margin:0 0 7px;}
.filter-block a{color:#00aef0;}
.anchorClass{position:relative;overflow:hidden;}
ul.right-slides{position:fixed;right:20px;bottom:40px;list-style:none;z-index:10000;padding-left:0;}
ul.right-slides li{width:20px;}
ul.right-slides li a{display:block;height:6px;width:6px;background-color:rgba(0,0,0,0.2);border-radius:15px;margin:10px auto;cursor:pointer;}
ul.right-slides li a.active{padding:5px;}
.modal-content{background-color:#ebe7e4;border-radius:0;}
.form-control{background-color:#f6f5f3;}
.control-label{color:#424242;font-family:Tahoma, Verdana;font-weight:normal;}
.form-horizontal .control-label{padding-top:7px;margin-bottom:0;text-align:left;}
.modal-footer, .modal-header, .modal-body{padding:15px 30px;}
.modal-footer .form-group{padding-left:0;padding-right:0;margin-left:0;margin-right:0;}
.mailbox{position:relative;}
.mail{position:relative;}
.mail h3{margin:1% 0;}
.line-shadow{background:url(../img/shadow_letter.png) bottom center no-repeat;position:absolute;bottom:0;left:0%;right:0%;height:26px;z-index:3;}
.mail .line{z-index:3;padding:50px;margin:2px auto 0;max-width:1018px;background:url(../img/pattern_letter_horisontal.png) center top repeat-x, url(../img/pattern_letter_vertical.png) left top repeat-y, url(../img/pattern_letter_vertical.png) right top repeat-y #ebe7e4;border-radius:4px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.4);-webkit-transition:margin-top 0.6s ease;-moz-transition:margin-top 0.6s ease;-o-transition:margin-top 0.6s ease;transition:margin-top 0.6s ease;bottom:0px;padding-bottom:0;}
.line .form-horizontal .control-label{text-align:left;}
.line .form-control{background-color:#f6f5f3;}
.line p, .line .form-horizontal .control-label{color:#424242;}
.form .form-control{background-color:#f6f5f3;}
.gal-item{border:none !important;padding:0 !important;margin-left:0 !important;}
.logo-carusel{background-color:#eaebed;color:#e84f31;position:relative;left:0;right:0;bottom:0;display:block;z-index:20;}
.logo-carusel h3{font-family:"Geometria";font-size:36px;margin:0.5% 0;}
.jcarousel-skin-tango{margin:2% 0;}
.bx-wrapper{position:relative;margin:2% auto !important;padding:0 60px;}
.bx-wrapper .bx-viewport{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border:none;left:0;background:none;-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0);}
.bx-wrapper .bx-controls-direction a{width:35px;height:35px;}
.bx-wrapper .bx-prev{background:url(../img/prev-horizontal.png) no-repeat 0 0;}
.bx-wrapper .bx-prev:hover{background-position:-35px 0;}
.bx-wrapper .bx-next{background:url(../img/next-horizontal.png) no-repeat 0 0;}
.bx-wrapper .bx-next:hover{background-position:-35px 0;}
.slider{background-color:#5e626c;}
.tp-bullets.simplebullets.round .bullet{background-image:url(./../img/bullet.png);height:16px;width:19px;}
.tp-rightarrow, .tp-leftarrow{height:74px !important;width:74px !important;}
.tp-leftarrow{background-image:url(./../img/left_arrow.png) !important;}
.tp-rightarrow{background-image:url(../img/right_arrow.png) !important;}
.display-390{display:none;}
.filter .col-xs-4 p.service-title{height:40px;width:100%;display:table;margin-bottom:10px;}
.filter .service-title a{display:table-cell;vertical-align:middle;height:40px;}
.filter .col-xs-4 p.check{font-size:14px;margin-top:10px;margin-bottom:20px;}
@media(max-width:992px){.phone p{font-size:21px;color:#000;margin-right:5px;}
.phone span{font-size:21px;}
.time.text-left{line-height:10px;vertical-align:-4px;color:#5c5c5c;font-size:10px;margin-right:20px;}
.time{font-size:12px;margin-right:0;}
.register{font-size:11px;margin-right:0px;line-height:14px}
.login{font-size:11px;line-height:14px}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a{font-size:11px;}
.filter .col-sm-4 p{margin-bottom:20px;}
#numb{font-size:120px;}
.mail h3{margin:3% 0;}
.filter .col-xs-4 p.service-title{height:40px;width:100%;display:table;margin-bottom:10px;}
.filter .service-title a{display:table-cell;vertical-align:middle;height:40px;}
.filter .col-xs-4 p.check{font-size:14px;margin-top:10px;margin-bottom:20px;}
}
@media(max-width:768px){.pre-header .container.text-right{text-align:center;}
.register, .search, .time, .phone{margin-right:0;}
.phone p{font-size:14px;color:#000;margin-right:0px;}
.phone span{font-size:14px;}
.time.text-left{line-height:10px;vertical-align:-4px;color:#5c5c5c;font-size:11px;margin-right:10px;}
.time{font-size:12px;margin-right:0;}
.tparrows{display:none;}
.cx-shc-button{margin-bottom:0;}
.tp-caption .btn{padding:6px 12px 6px 0;}
div.btn-center-slider .cx-shc-button{margin-left:-20px;}
.postfooter a{right:5%;}
.prefooter form{width:95%;}
.filter .service{width:100px;height:100px;line-height:80px;}
.eng{}
.eng .list-inline>li{padding-right:0;}
.filter img{width:50px;height:auto;}
.filter .col-xs-2 a{font-size:12px;}
.slider-container{width:90%;margin:0 auto;}
@media(max-width:768px){.slider-container{margin-bottom:20px;}
.free_call{right:12px;}
.filter .col-xs-4 p.service-title{height:40px;width:100%;display:table;margin-bottom:10px;}
.filter .service-title a{display:table-cell;vertical-align:middle;height:40px;}
.filter .col-xs-4 p.check{font-size:14px;margin-top:10px;margin-bottom:20px;}
.panel-body{padding:5px 10px;}
#numb{font-size:100px;line-height:120px;}
.mailbox button.cx-shc-button span{padding:5px 20px;}
.footer .col-xs-2:last-child{padding-left:0;padding-right:15px;}
.mailbox{}
.filter .col-xs-4 p{margin-bottom:20px;}}
@media(max-width:654px){.logo-carusel h3{font-size:28px;}
}
@media(max-width:520px){.logo-carusel h3{font-size:22px;}
}
@media(max-width:490px){.postfooter a{width:160px;background-size:20%;background-position:100% 30px;}
}
@media(max-width:430px){.mail h3{font-size:20px;}
}
@media(max-width:390px){.phone p{font-size:10px;color:#000;margin-right:0px;}
.register, .search, .time, .phone{margin-right:0;}
.phone span{font-size:21px;}
.free_call{font-size:7px!important;bottom:10px;right:11px;}
.time.text-left{line-height:10px;vertical-align:-4px;color:#5c5c5c;font-size:9px;margin-right:20px;margin-right:10px;}
.time{font-size:10px;margin-right:0;}
.search{margin-right:10px;}
.register{font-size:9px;margin-right:0px;}
.login{font-size:9px;}
.mission h2{font-size:20px;}
.camera span{font-size:12px;}
.display-390{display:block;}
.hidden-390{display:none !important;}
.postfooter a{width:100px;font-size:9px;background-position:100% 26px;}
.mission h2{font-size:18px;}
.filter .container > p{font-size:20px;}
.filter .service span{background-size:60% 60%;}
.filter .service{width:50px;height:50px;line-height:40px;}
.filter .col-xs-4 p.service-title{height:30px;width:100%;display:table;margin-bottom:5px;}
.filter .service-title a{display:table-cell;vertical-align:middle;height:30px;}
.filter .col-xs-4 p.check{font-size:10px;margin-top:8px;margin-bottom:13px;}
.filter img{width:18px;}
.filter .col-xs-4 p{line-height:12px;margin-bottom:2px;}
.filter .col-xs-4 a{font-size:8px;}
.mail h3, .logo-carusel h3{font-size:16px;}
}
@media(max-width:334px){.news .cx-shc-button{margin-left:15px;}
}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px){.mail .line{}
}
@media
only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5){.mail .line{}
}
@media only screen
and (min-device-width:320px)
and (max-device-width:480px){.mail .line{}
}
.social a{background:url(social.png) left top no-repeat;display:inline-block;height:29px;width:29px;margin:0 6px 0 0;}
.social a:hover{position:relative;top:1px;}
.social .fb{background-position:left top;}
.social .vk{background-position:center top;}
.social .yt{background-position:right top;}
.social .tw{background-position:left bottom;}
.social .te{background-position:center bottom;}
.social .li{background-position:right bottom;}



