@import url('Geometria-Medium/Geometria-Medium.css');
@import url('Geometria-Regular/Geometria-Regular.css');
@import url('Geometria-Bold/Geometria-Bold.css');
@import url('Geometria-RegularItalic/Geometria-RegularItalic.css');

    html{
        background: #e84e30;
    }

    * {outline: none;}

    body, h3, h4, h5, h6 {
        font-family: Tahoma, verdana;
    }
    h1, h2{
        font-family: 'Geometria', Arial;
    }
    a, a:hover {
        color: #e84e30;
    }
    .container{
        min-width: 970px !important;
    }
    .table-content th {
        cursor: pointer;
    }
    
    #release label{
        font-weight: normal;
    }


    .container .navbar-header,
    .container .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
    }

    .navbar-header {
      float: left;
    }

    .navbar-collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }

    .navbar-toggle {
      display: none;
    }
    .navbar-collapse {
      border-top: 0;
    }

    .navbar-brand {
      margin-left: -15px;
    }

    .navbar-nav {
      float: left;
      margin: 0;
    }
    .navbar-nav > li {
      float: left;
    }
    .navbar-nav > li > a {
      padding: 5px;
    }

    .navbar-nav.navbar-right {
      float: right;
    }
    .header-fixed{
        padding-top: 121px;
    }
    .header-fixed #inside-header{
        position: fixed;
        top: -40px;
        width: 100%;
    }
    #inside-header{
        position: relative;
        z-index: 1010;
    }
    .pre-header{
        height: 40px;
        line-height: 35px;
        background: url(../img/bg.png) 0 0 repeat #fff;
        overflow: hidden;
    }
    .pre-header .container div {display: inline-block;}
    .time{
        color: #5c5c5c;
    }
    .phone{}
    .search .form-control{
        font-size: 14px;
        border-radius: 40px;
        padding: 0px 10px;
        height: 28px;
        width: 100px;
        vertical-align: 1px;
        -webkit-transition: width 0.2s ease-in-out;
        -moz-transition: width 0.2s ease-in-out;
        -o-transition: width 0.2s ease-in-out 0.2s;
        transition: width 0.2s ease-in-out 0.2s;
    }
    .search .form-control:focus {
        width: 150px;
    }
    .search button {
        border-radius: 100%;
        font-size: 12px;
        width: 28px;
        height: 28px;
        color: #fff;
        background-color: #ebebeb;
        border: none;
        padding: 0;
        margin-left: 5px;
    }
    .register, .search, .time, .phone{
        margin-right: 20px;
    }
    .login a {
        background: url(../img/fb-vk.png) right center no-repeat;
        padding: 3px 50px 3px 0px;
    }
    .login {
        width: 80px;
        margin-right: 30px;
    }
    .eng .active {
        color: #e84e30;
    }
    .eng a{
        color: #ababab;
    }
    .eng {
        margin-left: 10px;
    }
    .navbar-default {
        border: none;
        background-color: #fff;
        box-shadow: 0 2px 2px 0px rgba(0,0,0,0.3);
        border-radius: 0 !important;
        margin-bottom: 0;
        z-index: 200;
    }
    .navbar {
        min-height: 80px;
    }
    .navbar-nav>li>a{
        line-height: 50px;
        padding: 26px 0px 5px;
        margin-left: 10px;
    }
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a{
        color: #000;
        font-size: 15px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 500;
    }
    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
        color: #e84e30;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        color: #e84e30;
        border-bottom: 3px solid #e84e30;
        background-color: #fff;
        font-size: 15px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 500;
        padding-bottom: 2px;
    }

    .breadcrumb-wrapper{
        background-color: #e84e30;
    }
    .breadcrumb {
        margin-bottom: 0;
        background-color: #e84e30;
        padding-left: 0;
        padding-right: 0;
        text-align:right;
    }
    .breadcrumb a:hover{
        text-decoration: none;
    }
    .breadcrumb a{
        color: #fff;
        font-weight: normal;
        text-decoration: underline;
        font-size: 10pt;
    }
    .breadcrumb>.main{
        border: 2px solid #fff;
        border-radius: 14px;
        padding: 1px 21px 4px 10px;
        background: url(../img/darr.png) right center no-repeat;
        cursor: pointer;
        float: left;
    }
    .breadcrumb>.main a{
        text-decoration: none;
        border-bottom: 1px dashed #fff;
    }
    .breadcrumb>.active a{
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
    .breadcrumb>.active:hover{
        text-decoration: none;
    }
    .breadcrumb>li {
        color: #fff;
        padding: 4px 0;
    }
    .breadcrumb>li+li:before {
        content: "";
        padding: 0 3px;
    }
    
    .breadcrumb-wrapper .container{
        position: relative;
    }
    .allmenu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        border: 1px solid #e84e30;
        border-top: none;
        border-radius: 0px 0px 1px 1px;
        z-index: 100;
    }
    .allmenu .submenu{
        padding: 8px 14px 25px
    }
    .allmenu .submenu a:hover{
        border-bottom-style: solid;
    }
    .allmenu .submenu a{
        text-decoration: none;
        border-bottom: 1px dashed #e84e30;
    }
    .allmenu .submenu span{
        border: 2px solid #e84e30;
        border-radius: 14px;
        padding: 1px 21px 4px 10px;
        background: url(../img/uarr.png) right center no-repeat;
        cursor: pointer;
    }
    .allmenu .menu{
        padding: 25px;
    }
    .allmenu .menu ul{
        padding-left: 0;
        padding-right: 40px;
        margin-top: 10px;
        list-style: none;
        vertical-align: top;
    }
    .allmenu .menu > ul{
        display: inline-block;
        float: left;
        margin-top: 0;
        margin-bottom: 35px;
        width: 24%;
    }
    .allmenu .menu > ul:last-child{
        margin-bottom: 30px;
    }
    .allmenu .menu a{
        color: #000;
        text-decoration: underline;
        font-size: 14px;
    }
    .allmenu .menu a:hover{
        color: #e84e30;
    }
    .allmenu .menu > ul > li > a{
        font-size: 17px;
    }
	
    .pagination{
        border-bottom: 1px solid #babbbd;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
    }
    .pagination>li:first-child>a, .pagination>li:first-child>span {
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
    }
    .pagination>li:last-child>a, .pagination>li:last-child>span {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    .pagination>li>a, .pagination>li>span {
        color: #7e7e7e;
        font-weight: bold;
    }
    .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
        background-color: #e84e30;
        border-color: #e84e30;
    }

    .postfooter{
        height: 70px;
        background-color: #e84e30;
        color: #fff;
        position: relative;
        z-index: 10;
		border:none;
		margin-top:-1px;
    }
    .postfooter .container{
        position: relative;
    }
    .postfooter span{
        padding-top: 35px;
        position: absolute;
        left: 15px;
    }
    .postfooter a {
        background: url(../img/logo-gray.png) right center no-repeat;
        display: block;
        width: 290px;
        position: relative;
        top: 0;
        right: 15px;
        padding-top: 25px;
        margin-top: 10px;
        color: #fff;
    }
    .footer{
        z-index: 10;
        color: #fff;
        font-size: 12px;
        padding: 25px 0;
        background: url(../img/pattern_red_footer.png) center center repeat;
        background: #e84e30;
        position: relative;
    }
    .footer h6 {
        font-size: 14px, letter-spacing: -1px;;
    }
    .footer .col-xs-2{
        padding-right: 0;
    }
    .footer a, .footer a:hover, .footer a:focus{
        color: #fff;
    }
    .social a{
        background: url(../img/social.png) left center no-repeat;
        display: inline-block;
        height: 30px;
        width: 35px;
    }
    .social a:hover{
        -webkit-transform: translateY(1px);
        -moz-transform: translateY(1px);
        -ms-transform: translateY(1px);
        -o-transform: translateY(1px);
        transform: translateY(1px);
    }
    .social .fb{
        background-position: left center;
    }
    .social .vk{
        background-position: center center;
    }
    .social .yt{
        background-position: right center;
    }
    
    .ainvers a {
        text-decoration: underline;
    }
    .ainvers a:hover,.ainvers a:focus{
        text-decoration: none;
    }
	/* step 1 */


    button.cx-shc-button{
        border-radius: 6px;
    }
    .cx-shc-button span {
        display: inline-block;
        padding: 10px 20px;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        -moz-transition: -moz-transform 0.2s ease-in-out;
        -o-transition: -o-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
    }

    .cx-shc-button {
        padding: 0;
        border-width: 0;
        background: none;
        margin-bottom: 20px;
        display: inline-block;
        text-decoration: none;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
        -webkit-transition: box-shadow 0.2s ease-in-out;
        -moz-transition: box-shadow 0.2s ease-in-out;
        -o-transition: box-shadow 0.2s ease-in-out;
        transition: box-shadow 0.2s ease-in-out;
    }

    .cx-shc-button:hover {
	
    }

    .cx-shc-button:hover span {
      -webkit-transform: translateY(2px);
      -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
      -o-transform: translateY(2px);
      transform: translateY(2px);
    }
    
    .cx-shc-button.gray{
        color: rgb(255, 255, 255);
        -webkit-box-shadow: rgb(140, 140, 140) 0px 3px 0px;
        box-shadow: rgb(140, 140, 140) 0px 3px 0px;
    }

    .cx-shc-button{
        color: rgb(255, 255, 255);
        -webkit-box-shadow: rgb(197, 61, 35) 0px 3px 0px;
        box-shadow: rgb(197, 61, 35) 0px 3px 0px;
    }
    .cx-shc-button.gray{
        color: rgb(255, 255, 255);
        -webkit-box-shadow: rgb(140, 140, 140) 0px 3px 0px;
        box-shadow: rgb(140, 140, 140) 0px 3px 0px;
    }
    .cx-shc-button.gray span {
        background: #afafaf;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #afafaf), color-stop(100%, #afafaf));
        background-image: -webkit-linear-gradient(#afafaf, #afafaf);
        background-image: -moz-linear-gradient(#afafaf, #afafaf);
        background-image: -o-linear-gradient(#afafaf, #afafaf);
        background-image: linear-gradient(#afafaf, #afafaf);
    }
    .cx-shc-button span {
        padding: 10px 20px;
        color: #ffffff;
        background: #e84f31;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e84f31), color-stop(100%, #e84f31));
        background-image: -webkit-linear-gradient(#e84f31, #e84f31);
        background-image: -moz-linear-gradient(#e84f31, #e84f31);
        background-image: -o-linear-gradient(#e84f31, #e84f31);
        background-image: linear-gradient(#e84f31, #e84f31);
    }

    .up .caret{
        border-top: none;
        border-bottom: 4px solid;
    }

    .controlbox-inline {
        display: inline-block;
    }
    .controlbox , .controlbox-inline {
        position: relative;
    }
    .controlbox input[type="radio"] + label:before, .controlbox-inline input[type="radio"] + label:before{
        background-image: url(../img/radiobox.png);
    }
    .controlbox input[type="checkbox"] + label:before, .controlbox-inline input[type="checkbox"] + label:before{
        background-image: url(../img/checkbox.png);
    }

    .controlbox input[type="radio"]:checked + label:before,
    .controlbox-inline input[type="radio"]:checked + label:before,
    .controlbox input[type="checkbox"]:checked + label:before,
    .controlbox-inline input[type="checkbox"]:checked + label:before{
        background-position: top center;
    }

    .controlbox input[type="checkbox"] + label:before,
    .controlbox-inline input[type="checkbox"] + label:before{
        height: 20px;
        top: 5px;
    }

    .controlbox label:before, .controlbox-inline label:before{
        content: "";
        position: absolute;
        top: 3px;
        left: -29px;
        background-position: bottom center;
        background-repeat: no-repeat;
        width: 20px;
        height: 19px;
    }

    .controlbox.no label{
        border-bottom: none;
    }

    .controlbox label, .controlbox-inline label{
        position: relative;
        border-bottom: 1px dashed #fff;
        margin-left: 35px;
        font-weight: normal;
        cursor: pointer;
    }
    .controlbox input[type="radio"], .controlbox input[type="checkbox"], .controlbox-inline input[type="radio"], .controlbox-inline input[type="checkbox"]{
        height: 0px;
        width: 0px;
        position: absolute;
        top:0;
        left:0;
	    /*z-index:-1;*/
    }
    .controlbox.black label, .controlbox-inline.black label{
        border-bottom-color: #535353;
    }
    .controlbox.black input[type="radio"] + label:before, .controlbox-inline.black input[type="radio"] + label:before{
        background-image: url("../img/radiobox-black.png");
    }
    .controlbox.black input[type="checkbox"] + label:before, .controlbox-inline.black input[type="checkbox"] + label:before{
        background-image: url("../img/checkbox-black.png");
    }

    label.checkbox-custom{
        position: relative;
        font-weight: normal;
        margin-left: 64px;
        cursor: pointer;
        padding-left: 20px;
        color: #b2decc;
        margin-left: 90px;
    }
    .checkbox-custom:before{
        content: "";
        position: absolute;
        top: 6px;
        left: -64px;
        width: 58px;
        height: 24px;
        padding: 3px;
        background: #3b946d;
        border-bottom: 1px solid #65c4a5;
        border-radius: 3px 3px 4px 4px;
        box-shadow: inset 1px 1px 2px #12552f;
    }
    .checkbox-custom input[type="checkbox"]:before{
        content: "";
        position: absolute;
        top: 4px;
        left: -62px;
        background: #fff;
        height: 19px;
        width: 26px;
        border-radius: 2px;
        -webkit-transition: left 0.3s ease;
    }
    .checkbox-custom input[type="checkbox"]{
        width: 0;
        height: 0;
        position: absolute;
        top:0;
        left: 0;
    }
    .checkbox-custom input[type="checkbox"]:checked:before{
        left: -34px;
    }
/* step 2 */
.cabinet{
    margin-bottom: 40px;
}
.cabinet .tab-content {
    color: #535353;
}
.cabinet .nav-tabs{
    border-bottom: none;
}
.cabinet .nav-tabs > li.active a{
    background-color: #fff;
    color: #000;
}
.cabinet .nav-tabs > li a img{
    margin-right: 20px;
    position: relative;
}
.cabinet .nav-tabs > li span{
    float: left;
    background-color: #e84e30;
    width: 38px;
    height: 38px;
    position: relative;
    top: -8px;
    left: -8px;
    border-radius: 19px;
}
.cabinet .nav-tabs > li span img{
    padding: 7px 11px;
}
.cabinet .nav-tabs > li a{
    color: #fff;
    background-color: #e84e30;
    font-weight: bold;
    padding: 16px 20px;
}
.form-control{
    background-color: #f6f5f3;
}
.form-horizontal .control-label {
    text-align: left;
    color: #424242;
}
.panel-default > .panel-heading {
    color: #616161;
    background-color: #e8e8e8;
    border-color: #e4e4e4;
}
.panel{
    border: 2px solid #d8d8d8;
    border-radius: 7px;
    box-shadow: 0px 2px 0px #b8b8b8;
}
.panel .media-body a{
    text-decoration: underline;
}
.panel .media-body a:hover{
    text-decoration: none;
}
.panel .img-thumbnail{
    border: 3px solid #ccc;
    padding: 0;
    margin: 4px;
}
.panel-title a{
    color: #575757;
}

#amount {
    color:#3c3634;
}

.line-shadow{
    background: url(../img/shadow_letter.png) bottom center no-repeat;
    position: absolute;
    bottom: 0;
    left: 0%;
    right: 0%;
    height: 26px;
    z-index: 3;
}
.mail .line{
    z-index: 3;
    padding: 50px;
    margin: 2px auto 0;
    max-width: 1018px;
    background: url(../img/pattern_letter_horisontal.png) center top repeat-x, url(../img/pattern_letter_vertical.png) left top repeat-y,  url(../img/pattern_letter_vertical.png) right top repeat-y #ebe7e4;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    position: absolute;
    left: 0%;
    right: 0%;
    -webkit-transition: margin-top 0.6s ease;
    -moz-transition: margin-top 0.6s ease;
    -o-transition: margin-top 0.6s ease;
    transition: margin-top 0.6s ease;
    min-height: 440px;    
}
.line .form-horizontal .control-label {
    text-align: left;
}
.line .form-control {
    background-color: #f6f5f3;
}
.line p, .line .form-horizontal .control-label{
    color: #424242;
}
.line #close{
    font-size: 16px;
    cursor: pointer;
}

.filter-checkbox li{
    width: 48%;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    vertical-align: top;
}
.filter-checkbox li{
    color: #3c3634 !important;    
}
.filter-checkbox input[type="checkbox"]{
    position: absolute;
    float: left;
    opacity: 0;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}
.filter-checkbox input[type="checkbox"]+label{
    padding-left: 25px;
    cursor: pointer;
    color: inherit;
    position: relative;
}
.filter-checkbox input[type="checkbox"]+label:before{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    left:0;
    top:0;
    background: url(../img/checkbox.png) left bottom no-repeat;
}
.filter-checkbox.black input[type="checkbox"]+label:before{
    background-image: url("../img/checkbox-black.png");
}
.filter-checkbox input[type="checkbox"]:checked+label:before{
    background-position: 0 0;
}
.filter-checkbox label>img{
    margin-bottom: -2px;
    max-height: 22px;
}
.filter-checkbox.cam li{
    width: 15%;
    text-transform: uppercase;
}
.form .form-control{
    background-color: #f6f5f3;
}
/* step 3 */

#camera{
    color: #3c3634;
    font-size: 18px;
    text-align: center;
}

.news .text-muted{
    font-size: 14px;
    margin-bottom: 0;
}
.news .list-unstyled a{
    color: #606060;
}
.news input[type="email"]{
    font-size: 12px;
    background-color: #ebebeb;
}
.news h4, .news .link { 
    color: #e84e30;
}
.news .media-data{
    color: #c3c2c2;
}
.years{
    margin: 45px 0 0;
}
.years ul{
    list-style: none;
	padding: 0px !important;
}
.years ul li{
    display: inline-block;
    cursor: pointer;
    padding: 2px 10px;
    border: 1px solid #4e4e4e;
    border-radius: 15px;
    color: #4e4e4e;
    margin-bottom: 10px;
}
.years li a{
    color: #4e4e4e;
}
.years li.active a, .years li:hover a{
    color: #e84e30;
}
.years li.active, .years li:hover{
    color: #e84e30;
    border-color: #e84e30;
}
.years li+li{
    margin-left: 10px;
}
.slider{
    background-color: #5e626c;
}
.bg-w{
    background: #fff;
}
.bg-g{
    background: url(../img/pattern_gray.png) center center repeat #fff;
}
.bg h2{font-size: 35px;}
.bg h4{font-size: 24px;margin-bottom: 40px;}
.bg h2,.bg h4 {margin-top:50px;}
.bg a {text-decoration: underline;}
.bg a:hover {text-decoration: none;color:transparent;}

.mail{
    background: #e9eaec;
}
.mission{}
.mission a, .mission a:hover, .mission a:focus{color:#e84e30;font-weight: bold;}


.filter h2{
    margin: 40px auto;
}
.filter {
    background-color: #e84f31;
    position: relative;
}
.filter * {
    color: #fff;
}
.filter a:hover {
    color: #fff;
}
.filter .col-xs-2 a {
    text-transform: uppercase;
    font-weight: 500;
}
.filter .service {
    width: 116px;
    height: 116px;
    background-color: #fff;
    border-radius: 100%;
    line-height: 106px;
    text-align: center;
    margin: 0 auto 10px;
    cursor: pointer;
    border: 6px solid #dadada;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
}

.filter .service:hover img,.filter .service.active img{
    display: none;
}
.filter .service:hover, .filter .service.active{
    border: 6px solid #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.filter .service span{
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background: url(../img/check.png) center center no-repeat #e84e30;
    display: inline-block;
    position: absolute;
}
.filter .service:hover span, .filter .service.active span{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
#slider-range a:last-child {
    background-position-x: -17px;
}
#slider-range, #slider-range a {
    cursor: pointer;
}
.line-bg{
    height: 18px;
    line-height: 18px;
    border-bottom: 1px solid rgba(237,122,92,0.5);
    border-radius: 15px;
    width: 100%;
    background-color: rgba(208,73,53,0.5);
    box-shadow: inset 0 2px 5px 0px #bd2f21, 0px 1px 4px -2px #fff;
    position: relative;
}
.line-bg .point{
    position: absolute;
    top: -11px;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0px 3px 6px 2px rgba(224,70,52,1);
    background: url(../img/arrow.png) 11px 5px no-repeat #fcf4f0;
    border-top: 1px solid #fff;
}
.line-bg .point.right{
    background-position-x: -16px;
}
/* step 5 */
.line-progress{
    height: 16px;
    line-height: 16px;
    border-radius: 15px;
    background-color: #efd9cd;
    width: 50%;
    margin-left: 10%;
    top: 1px;
    position: absolute;
    -webkit-transition: width 0.6s ease, margin-left 0.6s ease;
    -moz-transition: width 0.6s ease, margin-left 0.6s ease;
    -o-transition: width 0.6s ease, margin-left 0.6s ease;
    transition: width 0.6s ease, margin-left 0.6s ease;
}
.camera, .delimeter, .line-bg{
    margin-left:auto;
    margin-right: auto;
}
.camera span{
    position: absolute;
    background: url(../img/camera.png) right center no-repeat;
    padding-top: 0px;
    padding-right: 20px;
    font-size: 17px;
    display: inline-block;
    margin-left: -13px;
}
.delimeter, .camera{
    position: relative;
    height: 30px;
}
.delimeter span{
    position: absolute;
    text-align: left;
    color: white;
    padding-top: 0px;
    height: 25px;
    line-height: 30px;
    font-size: 12px;
    display: inline-block;
}

.logo-carusel{
    height: 288px;
    background-color: #eaebed;
    color: #e84f31;
    position: relative;
    display: none;
    z-index: 10;
}
@media (min-width: 992px){
    .logo-carusel{
        display: inherit;
    }
}

.tp-bullets.simplebullets.round .bullet {
    background-image: url(../img/bullet.png);
    height: 24px;
    width: 24px;
}
.tp-rightarrow, .tp-leftarrow {height: 74px !important;width: 74px !important;}
.tp-leftarrow {
    background-image: url(../img/left_arrow.png) !important;
}
.tp-rightarrow {
    background-image: url(../img/right_arrow.png) !important;
}

.content h1{
    color: #e84e30;
    margin: 20px auto 10px
}
.content h1 + p{
    margin-bottom: 25px; 
}
.content h2{
    margin: 38px auto;
    color: #000;
}
.content p{
    color: #000;
    font-size: 14px;
}
.industry .media{
    margin-bottom: 45px;
}
.industry .media .media-heading{
    font-size: 14px;
    text-transform: uppercase;
    color: #e84e30;
    text-decoration: underline;
}

.industry .media .media-body{
    font-size: 13px;
}
.description img{
    height: 16px;
}
.description a{
    color: #3c3634;
}
.description span+span{
    margin-left: 20px;
}
.description{
    font-size: 12px;
    padding-top: 20px;
    overflow-y: hidden;
}
div.pointer:before, ul.pointer li:before{
    content: "";
    background: url(../img/left_pointer.png) left top no-repeat;
    height: 35px;
    width: 24px;
    position: absolute;
    background-color: #54b58f;
    top: -3px;
    left: 0;
}
div.pointer, ul.pointer li span{
    border-left: 2px solid #fff;
    padding-left: 3px;
    margin-left: 3px;
}
ul.pointer li.active span, ul.pointer li:hover span{
    border-left-color: #54b58f;
}
div.pointer a, ul.pointer li a{
    color: #fff;
}
ul.pointer li.active a, ul.pointer li:hover a{
    color: #54b58f;
    text-decoration: none;
}
div.pointer, ul.pointer li{
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 5px;
    position: relative;
    padding-left: 30px !important;
    margin-right: 16px;
    margin-bottom: 5px;
}
ul.pointer li.active, ul.pointer li:hover{
    background-color: #fff;
    color: #54b58f;
}
ul.pointer li.active:before, ul.pointer li:hover:before{
    background-position: bottom left;
}
div.pointer:before{
    background-image: url(../img/left_pointer_green.png);
    background-color: #e9eaec;
}
div.pointer a{
    color: #54b58f;
    text-decoration: none;
    border-bottom: none;
}
div.pointer{
    border-left: none;
    border-color: #54b58f;
    display: block;
    float: right;
}
.faq-head{
    min-height: 41px;
    padding-left: 25px;
    position: relative;
}
.faq-head:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 22px;
    width: 22px;
    border-radius: 12px;
    background-color: #54b58f;
    background-image: url(../img/udarr_white.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.faq-head.active:before{
    background-position: top center;
}
.faq-head a{
    color: #54b58f;
    border-bottom: 1px dashed #54b58f;
    text-decoration: none;
}
.faq-wrapper+.faq-wrapper{
    margin-top: 44px;
}
.faq-body:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -10px;
    left: 30px;
}
.faq-body{
    position: relative;
    padding: 19px;
    border-radius: 6px;
    background-color: #fff;
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 20px;
}


.nvr.btn-group{
    background-color: #0076bf;
    width: 100%;
    height: 82px;
    padding: 4px;
    border-radius: 3px;
    box-shadow: inset 2px 2px 4px #00338a;
}
.nvr.btn-group .btn{
    font-size: 24px;
    height: 74px;
    line-height: 60px;
    width: 49%;
    border-radius: 4px !important;
    box-shadow: none;
    background: none;
    color: #fff;
    border: none;
}
.nvr.btn-group .btn.active{
    color: #333;
    border-color: #ccc;
    box-shadow: none;
    
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F7F7F7));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F7F7F7 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 100%);
}
.nvr.btn-group .btn+.btn{
    margin-left: 2%
}
#nvr div:first-child{
    float: left;
}
#nvr div:last-child{
    float: right;
}
#nvr div{
    display: inline-block;
    width: 49%;
    margin: 13px 0 0;
    padding: 14px 30px 30px;
    list-style: none;
    color: #a6a6a6;
    border: 1px solid #fff;
}
#nvr div.active{
    background: #f7f7f7;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    color: #333;
}
#nvr div ul{
    list-style: none;
}
.table-content table, .tables table{
    width: 100%;
    margin-bottom: 50px;
}
.table-content.orange table th {
    background-color: #e84e30;
}
.table-content.green table th{
    background-color: #54b58f;
}
.table-content.gray td{
    background-color: #e9eaec;
}
.table-content.gray tr+tr{
    border-top-color: #fff;
}
.table-content table th{
    background-color: #b3b3b3;
    color: #fff;
    height: 63px;
    padding: 0 28px;
}
.table-content table th:first-child{
    border-top-left-radius: 4px;
}
.table-content table th:last-child{
    border-top-right-radius: 4px;
}
.table-content table td{
    padding: 15px 30px;
    background-color: #ffffff;
    color: #575757;
}

.table-content table tr+tr{
    border-top: 1px solid #e9eaec;
}
.table-content .cx-shc-button{
    margin-bottom: 0 ;
}
.tables table th{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.tables table td+td{
    padding-left: 3%;
}
.tables table td{
    width: 30%;
    vertical-align: top;
}

.binary.green label.active, .binary.green label:hover{
    border-color: #4ea181;
    color: #4ea181;
}
.binary.green label.active:after{
    border-top-color:  #4ea181;
}
.binary.green label{
    color: #4ea181;
    border-bottom-color: #fff;
}
.binary{
    margin: 50px 0 40px;
    width: 100%;
}
.binary label.active, .binary label:hover{
    border-color: #e84e30;
    position: relative;
    background: none;
    font-size: 24px;
    font-weight: bold;
    color: #e84e30;
    box-shadow: none;
}
.binary label.active:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e84e30;
    position: absolute;
    bottom: -15px;
    left: 50%;
}
.binary label:first-child{
    border-bottom-left-radius: 5px;
}
.binary label:last-child{
    border-bottom-right-radius: 5px;
}
.binary label{
    padding-bottom: 15px;
    border-bottom: 5px solid #e9eaec;
    cursor: pointer;
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 24px;
    font-weight: bold;
    color: #e84e30;
}

.list-distr{
    padding: 20px 0 70px;
}
.list-distr h3{
    padding-bottom: 20px;
}
.list-distr ul{
    overflow: auto;
    width: 19%;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin-bottom: 40px;
    position: relative;
}
.list-distr ul:before{
    content: attr(data-content);
    position: absolute;
    height: 20px;
    width: 40px;
    text-align: left;
    font-weight: bold;
    top: -1px;
    left: 20px;
}
.list-distr ul li a{
    color: #363636;
    text-decoration: underline;
}
.list-distr ul li a:hover{
    text-decoration: none;
    color: #e84f31;
}
.addition{
    color: #fff;
    text-decoration: none !important;
    border-bottom: 1px dashed #fff;
}
.addition:hover{
    border-bottom-style: solid;
    color: #fff;
}

#accordion .addition{
    font-size: 18px;
    color: #e84f31;
    border-color: #e84f31;
}

.headerSortUp .caret{
    border-bottom: 4px solid;
    border-top: none;
}
.headerSortDown .caret{
    border-bottom: none;
    border-top: 4px solid;
}

ul.modules li.active a{
    border-bottom: none;
    font-weight: normal;
}
ul.modules li a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
ul.modules li a:hover{
    border-bottom: none;
    text-decoration: none;
}
ul.modules li:first-child{
    padding-left: 5px;
}
ul.modules li{
    width: 24%;
    height: 65px;
    padding-right: 3%;
    vertical-align: top;
}

.faq-container{
    padding: 40px 0;
}
.configurator table#paid .glyphicon.glyphicon-remove-circle{
    color: #e84f31;
}
.configurator .c-head, .configurator .c-body{
    font-family: "PT Sans", tahoma;
}
.configurator .c-head{
    background-color: #54b58f;
    padding: 6px 25px 8px;
    font-size: 22px;
    color: #fff;
    border-radius: 4px 4px 0 0 ;
}
.configurator .c-body{
    padding: 15px 20px;
    background-color: #e9eaec;
    border-radius: 0 0 4px 4px;
    margin-bottom: 40px;
}
.configurator .c-body .control-label{
    font-size: 18px;
    font-weight: normal;
    font-family: tahoma;
}
.configurator table{
    width: 100%;
}
.configurator table thead tr{
    border-bottom: 1px solid #dbdbdb;
}
.configurator table th{
    font-size: 16px;
    font-style: italic;
    color: #acacac;
    width: 25%;
    padding-top: 15px;
    font-weight: normal;
    padding-bottom: 8px;
}
.configurator table th:first-child{
    width: 65%;
}
.configurator table td{
    font-size: 14px;
    color: #6a6a6a;
    padding: 6px 0px;
    text-align: right;
}
.configurator table tr+tr{
    border-top: 1px solid #dbdbdb;
}
.configurator table#paid tr+tr, .configurator table#free tr+tr{
    border-top: none;
}
.configurator table td input{
    margin: 0 auto;
    background-color: #fff;
}
.configurator table td:first-child{
    text-align: left;
	padding-right: 3px;
}
.configurator .c-body hr{
    border-color: #dbdbdb;
}
hr.double{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 3px;
}
hr.or{
    border-width: 3px;
    border-color: #e84e30;
    position: relative;
}
hr.or:before{
    content: attr(data-content);
    background-color: #fff;
    padding: 4px 11px;
    position: absolute;
    top: -18px;
    left: 45%;
    color: #e84e30;
}
.c-body .btn-group{
    padding: 4px;
    background: #d2d4d5;
    border-radius: 4px 4px 6px 6px !important;
    border-bottom: 3px solid #edeef0;
    box-shadow: inset 2px 3px 3px #aaadaf;
}
.c-body .btn-group .btn.active{
    box-shadow: none;
    background-color: #fff;
    border: none;
    border-radius: 4px !important;
}
.c-body .btn-group .btn{
    background: none;
    border:none;
}
.compare table{
    width: 100%;
}
.compare table th span i{
    font-size: 24px;
    font-style: normal;
}
.compare table th span{
    text-transform: uppercase;
    color: #e84e30;
    font-weight: 700;

}
.compare table th span, .compare table td span{
    background-color: #fff;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 10px;
    display: block;
    font-size: 16px;
    box-shadow: 0px 2px 2px #c6c7c9;
}
.compare > table th, .compare > table td{
    text-align: center;
    vertical-align: middle;
    width: 25%;
    min-height: 40px;
}
.compare table td:first-child{
    text-align: left;
    font-weight: bold;
}
.compare table tr:last-child td span{
    border-radius: 0 0 4px 4px;
}
.compare table tr:first-child td span{
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
}
.compare table td span{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}
.compare table td{
    padding-top: 0;
    padding-bottom: 0;
    color: #6a6a6a;
}
.compare table td+td span{
    border-top: 1px solid #e9eaec;
}
.compare .compare td{
	background-color: #fff;
	border-bottom: 1px solid #e9eaec;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 0;
	margin-bottom: 0;
}
.compare .compare tr td+td{
	border-left: 1px solid #e9eaec;
}
.compare .compare tr td:first-child{
	background-color: transparent;
	border-bottom: none;
}
.compare .compare tr td span{
	border: none;
	box-shadow: none;
}

.green {
    color: #54b58f;
}

.steps{
    width: 960px;
    margin: 20px auto 30px;
    background-color: #3b946d;
    border-radius: 4px 4px 6px 6px;
    padding: 10px 10px 7px;
    border-bottom: 1px solid #65c4a5;
    box-shadow: inset 2px 2px 4px #19623c;
}
.steps div{
    font-size: 18px;
    padding: 20px 17px 20px ;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-right: 41px;
}
.steps div.active{
    background-position:0 -66px;
    background-repeat: repeat-x;
    background-image: url(../img/steps.png) ;
}
.steps div.active:last-child:after {
    background-position: 0 -132px;
    background-image: url(../img/steps.png);
    background-repeat: no-repeat;
}
.steps div.active:before, .steps div.last:before{
    content: "";
    height: 66px;
    width: 45px;
    background-position: 0 -198px;
    background-image: url(../img/steps.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -45px;
}
.steps div.last:before{
    background-position: 0 -132px;
}
.steps div:first-child{
    margin-left: 20px;
}
.steps div:first-child:before{
    content: "";
    height: 66px;
    width: 20px;
    position: absolute;
    top: 0;
    left: -20px;
}
.steps div:after {
    content: "";
    height: 66px;
    width: 45px;
    position: absolute;
    top: 0;
    right: -45px;
}
.steps div:last-child{
    margin-right: 20px !important;
}
.steps div:last-child:after {
    content: "";
    height: 66px;
    width: 20px;
    position: absolute;
    top: 0;
    right: -20px;
}
.steps div.active:first-child:before{
    background-position: 0 0 ;
}
.steps div.active:last-child:after{
    background-position: -25px -264px;
}

.steps-content table th{
    font-size: 14px;
    font-style: italic;
    color: #4f4f4f;
}
.steps-content table th:first-child, .steps-content table td:first-child{
    width: 70%;
}
.steps-content table th, .steps-content table td{
    width: 30%;
    padding-bottom: 15px;
    vertical-align: top;
}

.second .control-label{
    color: #fff;
}

table.history {
    width: 100%;
    font-size: 16px;
}
table.history th{
    padding: 20px;
    text-transform: uppercase;
}
table.history > tbody > tr > td{
    background-color: #b3b3b3;
    padding: 20px;
    color: #fff;
    border-top: 1px solid #fff;    
}
table.history{
    position: relative;
}

table.history td.config{
    background: #fff;
    color: #4b4b4b;
    box-shadow: 0px 1px 0px #fff;
    border: none;
    border-bottom-color: #fff;
    padding: 0;
}
table.history td > div {
    border: 2px double #b3b3b3;
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
.config .col-xs-3, .config .col-xs-9{
    padding-bottom: 10px;
}
.login-head img {
    margin-right: 10px;
}
.login-head{
    padding: 2px 20px;
    background-color: #e84e30;
    border-radius: 4px 4px 0 0;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
}
.login-body{
    background-color: #fff;
}
.login-body label{
    font-weight: normal;
}
.login-body .input-group-addon {
    background-color: #ddd;
}
#configInp {
    margin-top: -36px;
}

.ha-icon.facebook {
    background-image: url(../img/facebook.png) !important;
    width: 220px;
    margin-left: 0;
    margin-right: 0;
    float: left;
}
.ha-icon.vkontakte {
    background-image: url(../img/vk.png) !important;;
    width: 225px;
    margin: 0;
    float: right;
    background-position: 0 0 !important;
}
.hybridauth .ha-info{
    margin-left: -20px !important;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .pre-header{
        margin-bottom: 0 !important;
    }
    #inside-header{
        position: relative !important;
        top: 0 !important;
    }
}


@media only screen 
and (min-width : 321px)
and (max-width : 970px) {
    .pre-header{
        margin-bottom: 0 !important;
    }
    #inside-header{
        position: relative !important;
        top: 0 !important;
    }
}


@media only screen 
and (max-width : 320px) {
    .pre-header{
        margin-bottom: 0 !important;
    }
    #inside-header{
        position: relative !important;
        top: 0 !important;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .pre-header{
        margin-bottom: 0 !important;
    }
    #inside-header{
        position: relative !important;
        top: 0 !important;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .pre-header{
        margin-bottom: 0 !important;
    }
    #inside-header{
        position: relative !important;
        top: 0 !important;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .pre-header{
        margin-bottom: 0 !important;
    }
    #inside-header{
        position: relative !important;
        top: 0 !important;
    }
    svg{
        margin-bottom: -6px !important;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    .pre-header{
        margin-bottom: 0 !important;
    }
    #inside-header{
        position: relative !important;
        top: 0 !important;
    }
}
