Options -Indexes 
ErrorDocument 404 /404.php
php_value auto_prepend_file "/home/bitrix/www/bitrix/modules/security/tools/start.php"

<IfModule mod_php7.c>
	php_flag allow_call_time_pass_reference 1
	php_flag session.use_trans_sid off

	php_value display_errors 0
	
	#php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	
	#RewriteCond %{REQUEST_URI} !^/bitrix/ 
	#RewriteCond %{REQUEST_URI} ^(.*)/index\.php$
    #RewriteRule ^(.*)index\.php$ https://%{HTTP_HOST}/$1 [R=301,L]
	
	RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
	RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
	
	RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
	RewriteCond %{REQUEST_URI} !/bitrix/admin/.* [NC]
	RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

	RewriteCond %{REQUEST_URI} ^/feedback.php/$
    RewriteRule ^.*$ https://zoobastik.ru/feedback/? [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
	RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
	DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/jpeg "access plus 3 day"
	ExpiresByType image/gif "access plus 3 day"
</IfModule>


# Редиректы страниц и разделов

#Redirect 301 /tetra/tetra-min-korm-dlya-vsekh-vidov-ryb-v-vide-khlopev-.php /tetra/tetra-min-korm-dlya-vsekh-vidov-ryb-v-vide-khlopev-1.php
